<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/recipe.css">
  </head>
  <body>
    <h1>Here are your recipes!</h1>
    <section class="recipe">
      {% for result in results.results %}
      <section class="result">
          <div class="image"><img src="{{ result.thumbnail }}"></div>
          <div>
            <div class="title">{{ result.title }}</div>
            <div class="ingredients">{{ result.ingredients }}</div>
          </div>
        </section>
      {% endfor %}
    </section>
    <p><a href="/">Search again!</p>
  </body>
</html>
