
body{
  padding = 0;
  margin = 0;
  background-image: url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?cs=srgb&dl=black-bean-close-up-cooked-1640774.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  margin: 20px;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
}

h1 {
  text-align: center;
  padding: 20px;
  font-family: monospace;
  font-size: 40px;
  background-color: black;
  color: white;
  grid-row: 1;
  grid-column: 1/span 3;
  height: 60px;

}


section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  grid-row: 2;
  grid-column: 2;
}

section.recipe {
  grid-row: 2;
  grid-column: 1/span 3;
}

 form {
  background-color:rgba(255,255,255, 0.7);
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
