
body{
  background-image: url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?cs=srgb&dl=black-bean-close-up-cooked-1640774.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  margin: 0px;
  padding: 0;
  display: grid;
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: monospace;
  font-size: 40px;
  background-color: black;
  margin-top: 0;
  color: white;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
}

section.recipe {

  margin: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
}

section.result {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
}
